**/*.rbc
**/*.sassc
**/.sass-cache
**/capybara-*.html
**/.rspec
**/.bundle
**/vendor/bundle
**/log/*
**/tmp/*
**/db/*.sqlite3
**/public/system/*
**/coverage/
**/spec/tmp/*
**/*.orig
**/rerun.txt
**/pickle-email-*.html
/rails_prototype/._redcar
/source/._redcar
**/.project
**/server.pid
source/db/*.sqlite3
source/log/*.log
source/tmp/*