<% provide(:title, "Help")%>
<section id="index_middle">
<h1>Help with Codej.am</h1>
<p>It's pretty simple, we want to connect you and people like you so you can create really cool things.'</p>
</section>
