<li>
  <span class="content"><%= rating.effort %></span>
  <span class="content"><%= rating.code_quality %></span>
  <span class="content"><%= rating.communication_skill %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(rating.created_at) %> ago.
  </span>
</li>