<% provide(:title, "Contact")%>
<section id="index_middle">
<h1>Contacting the Codej.am developers</h1>
<p>Set up an email address for the site contact@codej.am and (adrian|anthony|jon|john)@codej.am</p>
</section>
