<li>
	<%= gravatar_for user, 52 %>
	<%= link_to user.first_name, user_path(user.pseudonym) %>
	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "delete", user, method: :delete, confirm: "Are you sure?"%>
	<% end %>
</li>