<% provide(:title, "#{@user.first_name} #{@user.surname}")%>
<section id="index_middle">
	<aside>
		<h1 id="avatar_name"><%= gravatar_for @user%><%= @user.first_name %> <%= @user.surname %>, <%= @user.email %></h1>
	</aside>
</section>